/* tailwindcss 主题样式 */
@theme {
  --text-12: 12px;
  --text-13: 13px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-24: 24px;

  --color-primary: #2761FF;
  --color-333: #333;
  --color-666: #666;
  --color-999: #999;
}
