/*####  rem 响应式布局把这段解开 start  ####*/
/*body {
  scrollbar-base-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-face-color: transparent;
  overflow-x: hidden;
  overflow-y: overlay;
}

@media (min-width: 540px) {
  body{
    margin: 0 auto !important;
    width: 540px !important;
    line-height: 1.15;
  }
  html{
    font-size: 54px !important;
  }
}

html {
  min-height: 100vh;
  background-color: #eee;
}*/

/*####  rem 响应式布局把这段解开 end  ####*/
